[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.12"
